<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{117,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,243},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>role3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,347},{75,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,120}}</string>
                <key>sourceSize</key>
                <string>{75,120}</string>
            </dict>
            <key>role4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{111,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,120}}</string>
                <key>sourceSize</key>
                <string>{111,120}</string>
            </dict>
            <key>role5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>role6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,120}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>role7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>role8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54bb12d679ef224518e06886699cb0e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
