<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,220},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,116},{24,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,90},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,230},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{14,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,122},{28,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{28,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100007.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,32},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,236},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{20,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100010.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,62},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,204},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100012.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,178},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100015.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,220},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100016.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,190},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100017.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100019.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,210},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,150},{26,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{26,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100021.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,160},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,236},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100023.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,168},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100024.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,32},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100025.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,34},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{18,16}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100026.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100027.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,194},{24,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100028.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,152},{28,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{28,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100029.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,62},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100030.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,122},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100031.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{22,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100032.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,152},{10,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100033.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,182},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100034.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,92},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100035.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,142},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100037.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,20},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{12,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100038.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,92},{22,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100039.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,92},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100040.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100041.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,42},{16,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100042.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100043.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,22},{16,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100044.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,26},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100046.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,194},{30,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100047.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100048.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,130},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100050.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,62},{26,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100051.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,226},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>100053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dde04421b5ba35e9894b0b401885b6b$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
